# Python
*.pyc
__pycache__/
.env
.venv/
*.pyo
*.pyd

# Python IDEs
.vscode/
.idea/

# MLflow
mlruns/

# Terraform
*.tfstate
*.tfstate.backup
*.tfvars
.terraform/
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
.terraform/
# AWS key files
*.pem

# Docker
*.tar
docker-compose.override.yml

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
